:root {
    --black-bkg: #222222;
    --pink-bkg: #F1E4E6;
    --pink-txt: #F16D7F;
    --sales-bkg: #211616;
    --sales-txt: #FFFFFF;
    --sales-title: #F16D7F;
    --hover-txt: #D86070;
    --button-hover: #FF6A6A;
    --registration-bkg: #F8F3F4;
    --icon-bkg: #E8E8E8;

}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* .main {
    min-height: 675px;
    flex-grow: 1;
} */

.header {
    background-color: var(--black-bkg);
}

.header__container {
    display: flex;
    align-items: center;
}

.header__wrp {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.header__nav {
    display: none;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 44px;
}

.header__search-icon:hover>.header__search-input {
    width: 240px;
}

.header__search-icon:hover>.header__search-button {
    background: #222;
    color: #222;
}

.header__search-button {
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-top: 10px;
}

.header__search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    margin-top: 10px;
}

.header__burger {
    border: none;
    background-color: transparent;
}

.header-burger--img {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
}

.header-burger--img:hover {
    color: var(--pink-txt);
}

.header-menu-burger {
    display: flex;
    justify-content: flex-end;
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
}

.header-menu {
    position: absolute;
    top: 52px;
    left: 128px;
    background: white;
    display: none;
    width: 232px;
    height: 764px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.header-menu--close {
    margin-top: 16px;
    margin-left: 203px;
    cursor: pointer;
}

.header-menu--title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: 8px 0 0 34px;
}

.nav-item__title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--pink-txt);
    margin-left: 33px;
    margin-bottom: 12px;
    margin-top: 20px;
}

.nav-item__title--man {
    margin-top: 24px;
}

.nav-item__item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 55px;
    margin-bottom: 11px;
}

.nav-item__item--link {
    text-decoration: none;
    color: #000;
}

.nav-item__item--link:hover {
    color: var(--pink-txt);
}

.nav-item__item--link:active {
    color: var(--pink-txt);
}

.nav-item__item--link:focus {
    color: var(--hover-txt);
}

.nav-item__item:first-letter {
    text-transform: uppercase;
}

.header-menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-menu-link {
    /* color: darkblue; */
    text-decoration: none;
}

.header-menu-link:active {
    /* color: red; */
    cursor: pointer;
}

.header-burger:active+.header-menu,
.header-burger:focus+.header-menu {
    display: block;
}

.header-menu:active {
    display: block;
}

/* 
header__person-icon
 */

.header-burger {
    fill: none;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.header-icon--img {
    fill: var(--icon-bkg);
}

.header-icon--img:hover {
    fill: var(--pink-txt);
}

.header-icon--img:active {
    fill: var(--pink-txt);
}

.header-icon--img:focus {
    fill: var(--pink-txt);
}

/* .header__link--span {
    position: relative;
} */

.header__link--basket {
    position: relative;
}

.header__link--basket::after {
    content: '';
    background-image: url(../img/five.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: 20px 20px;
    bottom: 18px;
    left: 55px;
}


/* .header__basket-icon--span {
    position: absolute;
    background-color: var(--pink-txt);
    border-radius: 60px;
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 6px;
} */

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 33px;
}


.brand {
    display: flex;
    background-color: var(--pink-bkg);
}

.brand__img {
    width: 800px;
    height: 765px;
}

.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    position: relative;
}

.brand__title::before {
    content: '';
    width: 12px;
    height: 92px;
    background-color: var(--pink-txt);
    position: absolute;
    left: -28px;
}

.brand__title-lower {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    display: block;
}

.brand__title-pink {
    color: var(--pink-txt);
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 30px;
    margin-top: 65px;
}

.sales__item {
    width: 360px;
    height: 260px;
    background-color: var(--sales-bkg);
}

.sales__item--woman {
    background-image: url(../img/for-women.jpg);
}

.sales__item--man {
    background-image: url(../img/for-man.jpg);
}

.sales__item--kids {
    background-image: url(../img/for-kids.jpg);
}

.sales__item--accesories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    height: 180px;
}

.sales__text {
    margin-top: 105px;
    text-align: center;
    color: var(--sales-txt);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.sales__text--accesories {
    margin-top: 65px;
}

.sales__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--sales-title);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.sales__title:hover {
    color: var(--hover-txt);
}

.sales__title:active {
    color: var(--hover-txt);
}

.sales__title:focus {
    color: #EE8E9B;
}

.products {
    margin-top: 96px;
}

.products__title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: var(--black-bkg);
}

.products__text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
}

.products__list {
    display: grid;
    margin-top: 48px;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.products__item {
    flex-direction: column;
}

.products__item-img {
    width: 360px;
    height: 420px;
}

.products__item-img--wrp {
    position: relative;
}

.products__item-img--overlay {
    width: 100%;
    min-height: 420px;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
}

.products__item-img--button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: #fff;
    border: 1px solid white;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    padding: 11px 16px 8px 13px;
    cursor: pointer;
}

.products__item-img--basket {
    margin-right: 11px;
}

.products__item-img--button:hover {
    background: rgba(241, 109, 127, 0.2);
}

.products__item-img--button:active {
    background: rgba(241, 109, 127, 0.2);
}

.products__item-img--button:focus {
    background: rgba(82, 0, 11, 0.2);
}

.products__item-img--overlay,
.products__item-img--button {
    display: none;
}

.products__item-img--wrp:hover .products__item-img--button,
.products__item-img--wrp:hover .products__item-img--overlay {
    display: flex;
}

.products__item-title {
    margin: 25px 0 0 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}

.products__item-text {
    display: block;
    width: 315px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin: 13px 0 0 16px;
    color: #5D5D5D;
}

.products__item-price {
    margin: 18px 0 0 19px;
    color: var(--sales-title);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.products__button {
    margin: 0 auto;
    display: block;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-txt);
    padding: 15px 39px;
    background-color: transparent;
    border: 1px #F16D7F solid;
    margin-top: 48px;
}

.products__button:hover {
    background-color: var(--button-hover);
    color: #FFF;
}

.products__button:active {
    background-color: var(--button-hover);
    color: #FFF;
}

.products__button:focus {
    background-color: var(--hover-txt);
    color: #FFF;
}

.advantages {
    background-color: #222224;
    min-height: 341px;
    margin-top: 95px;
}

.advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    text-align: center;
    padding-top: 103px;
    align-items: center;
}

.advantages__item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
}

.advantages__item-text {
    width: 360px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 16px;
    color: #FBFBFB;
}

.footer-top {
    background-image: url(../img/bkg-img.jpg);
    min-height: 448px;
    background-color: #ccc;
    /* background-size: cover; */
}

.footer-top__wrp {
    display: flex;
    gap: 236px;
}

.footer-top__avatar {
    width: 96px;
    display: block;
    margin: 0 auto;
}

.footer-top__wrp-quote {
    flex-direction: column;
    width: 359px;
    align-items: center;
    margin-top: 97px;
}

.footer-top__quote {
    width: 359px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
}

.footer-top__quote--italic {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.footer__form {
    width: 557px;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}

.footer-top__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    text-transform: uppercase;
}

.footer-top__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    text-transform: uppercase;
}

.footer-top__form--form {
    display: flex;
    justify-content: center;
    border-radius: 60px;
}

.footer-top__form--input {
    border-radius: 64px 0 0 64px;
    border: none;
    width: 256px;
    height: 49px;
    padding-left: 22px;
}

.footer-top__form--input:focus {
    outline: none;
}

.footer-top__form--button {
    border-radius: 0px 64px 64px 0px;
    border: none;
    background-color: var(--pink-txt);
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.footer-top__form--button:hover {
    background-color: var(--button-hover);
}

.footer-top__form--button:active {
    background-color: var(--button-hover);
}

.footer-top__form--button:focus {
    background-color: var(--hover-txt);
}

.footer-bottom {
    background-color: var(--black-bkg)
}

.footer-top__form {
    margin-top: 32px;
}

.footer__wrp {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.footer-bottom__copy {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-bottom__list {
    display: flex;
    align-items: center;
}

.footer-bottom__social {
    width: 31px;
    height: 32px;
    background: #fff;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}

.footer-bottom__social--icon {
    fill: black;
}

.footer-bottom__social:hover {
    background-color: var(--pink-txt);
}

.footer-bottom__social:active {
    background-color: var(--pink-txt);
}

.footer-bottom__social:focus {
    background-color: var(--hover-txt);
}

.footer-bottom__social:hover .footer-bottom__social--icon {
    fill: white;
}

/* Registration */

.main__registration-text {
    background-color: var(--registration-bkg);
    min-height: 148px;
}

.main__registration-text--title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-txt);
    text-transform: uppercase;
    padding-top: 59px;
}

.main__form {
    flex-direction: column;
}

.main__container {
    display: flex;
    padding-top: 64px;
}

.main__registration-title {
    min-height: 675px;
}

.main__registration-article--title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}

.main__registration-article--text {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-top: 22px;
    margin-bottom: 21px;
    width: 652px;
}

.main__registration-article--items {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    position: relative;
    margin-left: 42px;
    margin-bottom: 16px;
}

.main__registration-article--items::before {
    content: '';
    background-image: url(../img/done.svg);
    width: 20px;
    height: 16px;
    /* background-color: #ccc; */
    position: absolute;
    background-size: 20px 16px;
    left: -42px;
    top: 6px;
}