$black-bkg: #222222;
$pink-bkg: #F1E4E6;
$pink-txt: #F16D7F;
$sales-bkg: #211616;
$sales-txt: #FFFFFF;
$sales-title: #F16D7F;
$hover-txt: #D86070;
$button-hover: #FF6A6A;
$registration-bkg: #F8F3F4;
$icon-bkg: #E8E8E8;
$light-text: #FBFBFB;
$card-bkg: #F8F8F8;
$gray: #A4A4A4;
$dark-gray: #4A4A4A;
$box-shadow: rgba(241, 109, 127, 0.8);
$bkg-light: #E2E2E2;
$blue: #80BDFF;
$gray-c: #CCCCCC;
$black-gray: #646464;
$black: #000000;
$light-color: #D8D8D8;
$dark-box-shadow: rgba(0, 0, 0, 0.21);
$new-gray: #B1B1B1;
$light-pink: #FBD3D9;
$gray-opasity: rgba(58, 56, 56, 0.86);
$img-hover: rgba(241, 109, 127, 0.2);
$img-focus: rgba(82, 0, 11, 0.2);
$pink: #EE8E9B;


$desktop-width: 1599px;
$desktop-mid-width: 1200px;
$tablet-width: 767px;
$mobile-width: 374px;