.brand {
    display: flex;
    background-color: $pink-bkg;
}

.brand__img {
    width: 800px;
    height: 765px;
}

.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    position: relative;
}

.brand__title::before {
    content: '';
    width: 12px;
    height: 92px;
    background-color: $pink-txt;
    position: absolute;
    left: -28px;
}

.brand__title-lower {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    display: block;
}

.brand__title-pink {
    color: $pink-txt;
}

@media (max-width: $desktop-width) {
    .brand__title-wrp {
        padding: 0 0 0 68px;
    }

    .brand__img {
        height: 100%;
    }

    .brand__title {
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 53px;
    }

    .brand__title-lower,
    .brand__title-pink {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
    }
}

@media (max-width: $desktop-mid-width) {
    .brand__img {
        height: 368px;
        width: 386px;
        ;
    }
}

@media (max-width: $tablet-width) {
    .brand__title-wrp {
        height: 363px;
        justify-content: center;
    }

    .brand__title {
        font-style: normal;
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
    }

    .brand__title-lower,
    .brand__title-pink {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .brand__img {
        display: none;
    }
}