.cart__text {
    width: 262px;

    @include mobile {
        width: auto;
    }
}


.cart__button {
    text-transform: uppercase;
    padding: 17px 40px;
    background-color: transparent;
    outline: 1px solid $gray;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    border: none;

    @include mobile {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        padding: 10px 33px;
        text-transform: lowercase;
    }
}

.cart__button:first-letter {
    @include mobile {
        text-transform: uppercase;
    }
}

.cart__button:hover {
    box-shadow: 0px 0px 10px $box-shadow;
    color: $pink-txt;
    outline: 1px $pink-txt;
}

.cart__button:active {
    background-color: $hover-txt;
    color: #FFF;
}

.cart__button:focus {
    box-shadow: 0px 0px 10px $box-shadow;
    color: $pink-txt;
    outline: 1px $pink-txt;
}