.shopping__container {
    display: flex;
    padding-top: 96px;
}

.shopping__cart-article {
    margin-left: 31px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}

.shopping-cart__list {
    margin-bottom: 72px;
}

.shopping-cart__item--cart {
    height: 306px;
    width: 652px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    margin-bottom: 40px;
}

.shopping-cart__item {
    display: flex;
}

.shopping-cart__close {
    width: 18px;
    height: 18px;
    margin-left: 57px;
    cursor: pointer;
}

.shopping-cart__button {
    display: flex;
    justify-content: space-between;
}

.shopping-cart__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $black-bkg;
    text-transform: uppercase;
    width: 200px;
    margin-bottom: 42px;
}

.shopping-cart__text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: $black-gray;
    margin-bottom: 6px;
}

.shopping-cart__text--price {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: $pink-txt;
}

.shopping-cart__text--number {
    padding: 1px 17px 2px 16px;
    border: 1px solid $bkg-light;
    margin-left: 24px;
}

.shopping__input {
    width: 360px;
    height: 45px;
    margin-bottom: 20px;
    outline: none;
    padding-left: 18px;
}

.shopping__input:focus {
    outline: 1px solid $pink-txt;
}

.shopping__button--quote {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: $dark-gray;
    padding: 10px 14px 12px 15px;
    background-color: transparent;
    border: 1px solid $gray;
    cursor: pointer;
}

.shopping__button--quote:hover {
    box-shadow: 0px 0px 10px $dark-box-shadow;
}

.shopping__button--quote:active {
    background-color: $icon-bkg;
    color: $dark-gray;
}

.shopping__button--quote:focus {
    background-color: $icon-bkg;
    color: $dark-gray;
}

.shopping__checkout {
    width: 360px;
    min-height: 214px;
    background-color: $icon-bkg;
}